<!DOCTYPE html
   PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   style="min-width: 100%;margin: 0;padding: 0;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;background-color: #d8dde4;width: 100% !important;">

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
   <!--[if !mso]><!-->
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">
   <!--<![endif]-->
   <title></title>
   <style>
      body {
         font-family: Poppins;
      }

      .header {
         border-bottom: 1px solid #d8dde4;
         background-color: #fff;
         font-weight: bold;
         line-height: 100.0%;
         vertical-align: middle;
         border-radius: 3px 3px 0 0;
      }

      .logo {
         outline: none;
         border: 0;
         text-decoration: none;
         -ms-interpolation-mode: bicubic;
         clear: both;
         line-height: 100%;
         max-width: 168px;
         height: auto !important;
      }

      .table-col-header {
         color: #383d42;
         font-size: 14px;
         border-bottom: 1px solid rgb(229, 229, 229);
         vertical-align: middle;
         padding: 5px;
         text-align: left;
      }

      .table-col {
         color: #3d3d3d;
         font-size: 14px;
         border-bottom: 1px solid rgb(229, 229, 229);
         vertical-align: middle;
         padding: 5px;
         text-align: left;
      }

      .poppins-thin {
         font-family: "Poppins", sans-serif;
         font-weight: 100;
         font-style: normal;
      }

      .poppins-extralight {
         font-family: "Poppins", sans-serif;
         font-weight: 200;
         font-style: normal;
      }

      .poppins-light {
         font-family: "Poppins", sans-serif;
         font-weight: 300;
         font-style: normal;
      }

      .poppins-regular {
         font-family: "Poppins", sans-serif;
         font-weight: 400;
         font-style: normal;
      }

      .poppins-medium {
         font-family: "Poppins", sans-serif;
         font-weight: 500;
         font-style: normal;
      }

      .poppins-semibold {
         font-family: "Poppins", sans-serif;
         font-weight: 600;
         font-style: normal;
      }

      .poppins-bold {
         font-family: "Poppins", sans-serif;
         font-weight: 700;
         font-style: normal;
      }

      .poppins-extrabold {
         font-family: "Poppins", sans-serif;
         font-weight: 800;
         font-style: normal;
      }

      .poppins-black {
         font-family: "Poppins", sans-serif;
         font-weight: 900;
         font-style: normal;
      }

      .poppins-thin-italic {
         font-family: "Poppins", sans-serif;
         font-weight: 100;
         font-style: italic;
      }

      .poppins-extralight-italic {
         font-family: "Poppins", sans-serif;
         font-weight: 200;
         font-style: italic;
      }

      .poppins-light-italic {
         font-family: "Poppins", sans-serif;
         font-weight: 300;
         font-style: italic;
      }

      .poppins-regular-italic {
         font-family: "Poppins", sans-serif;
         font-weight: 400;
         font-style: italic;
      }

      .poppins-medium-italic {
         font-family: "Poppins", sans-serif;
         font-weight: 500;
         font-style: italic;
      }

      .poppins-semibold-italic {
         font-family: "Poppins", sans-serif;
         font-weight: 600;
         font-style: italic;
      }

      .poppins-bold-italic {
         font-family: "Poppins", sans-serif;
         font-weight: 700;
         font-style: italic;
      }

      .poppins-extrabold-italic {
         font-family: "Poppins", sans-serif;
         font-weight: 800;
         font-style: italic;
      }

      .poppins-black-italic {
         font-family: "Poppins", sans-serif;
         font-weight: 900;
         font-style: italic;
      }
   </style>
</head>

<body>
   <div style="margin: 0;padding: 0;width: 100.0%;">
      <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
         <tbody>
            <tr>
               <td align="center" valign="top">
                  <table border="0" cellpadding="0" cellspacing="0" width="600"
                     style="border: 1.0px solid rgb(222,222,222);border-radius: 3.0px;">
                     <tbody>
                        <tr>
                           <td valign="top" style="background-color: rgb(255,255,255);">
                              <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                 <tbody>
                                   {{> @partial-block}} 
                                    <tr>
                                       <td valign=" top" style="padding: 0px 48px 0px;">
                                          <h1
                                             style="font-weight: 600; font-size: 18px; line-height: 100.0%;margin: 0;color:#383d42;">
                                            Bedankt,</h1>
                                          <p
                                             style="font-weight: 400; margin: 0 0 4px; font-size: 16px; padding: 10px 0 5px 0; color: #595959;  ">
                                            Het Superbrains-team
                                          </p>
                                          <hr />
                                       </td>
                                    </tr>
                                    <tr>
                                       <td valign="top" style="padding: 0px 48px 0px;">
                                          <p
                                             style="font-weight: 400; padding: 1rem 0; font-size: 16px; color: #595959;  ">
                                            Als je hulp nodig hebt, of gewoon
                                             Wilt u chatten, e-mail ons dan op elk gewenst moment <a
                                                style="color: #6048DE;text-decoration:underline">support@superbrains.nl</a>
                                          </p>
                                          <hr />
                                       </td>
                                    </tr>

                                    <tr>
                                       <td valign="top" style="padding: 0px 48px 0px;">
                                          <p
                                             style="font-weight: 400; text-align:center; font-size: 14px; color: #595959;">
                                             Made with ❤️ by Super Brains B.V. <br />
                                             De Vriesstraat 40 - 3261 PC -
                                             Oud-Beijerland - 010-254 00 70
                                          </p>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td style="text-align: center;">
                                          <div class="privacy">
                                             <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
                                                <tr>
                                                   <td style="padding: 0 10px;">
                                                      <a href="#"
                                                         style="text-decoration: underline; color: #939393;">Privacy</a>
                                                   </td>
                                                   <td style="padding: 0 10px;">
                                                      <a href="#"
                                                         style="text-decoration: underline; color: #939393;">Account</a>
                                                   </td>
                                                   <td style="padding: 0 10px;">
                                                      <a href="#"
                                                         style="text-decoration: underline; color: #939393;">Unsubscribe</a>
                                                   </td>
                                                </tr>
                                             </table>
                                          </div>
                                       </td>
                                    </tr>
   </div>
   </td>
   </tr>
   </tbody>
   </table>
   </td>

   </tr>
   </tbody>
   </table>
   </td>
   </tr>
   </tbody>
   </table>
   </div>
</body>

</html>